<header class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link <%= (!path || path === '/') ? 'active' : '' %>" href="/">Shop</a>
                </li>
                <% if (locals.isAuthenticated) { %>
                    <% if (!locals.isAdmin) { %> 
                        <li class="nav-item">
                            <a class="nav-link nav-link <%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                        </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link <%= path === '/add-product' ? 'active' : '' %>" href="/add-product">Add Product
                        </a>
                    </li>
                    <% } %>
                <% } %>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <% if (!locals.isAuthenticated) { %>
                    <li class="nav-item">
                        <a class="nav-link <%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <form action="/logout" method="post">
                            <button class="btn btn-link nav-link" type="submit">Logout</button>
                        </form>
                    </li>
                <% } %>
            </ul>
    </div>
</header>