<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="container">
                    <% if (!query) { %>
                    <div class="row justify-content-between">
                        <h3 class="col-md-5 col-lg-4">
                            <% if (flag) { %><%= flag %><% } %>
                        </h3>
                        <div class="col-md-5 col-lg-4">
                            <form class="form-search form-inline">
                                <div class="input-group" style="width: 100%!important">
                                    <input name="q" type="text" class="form-control" placeholder="Search..." /> 
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                <% } else { %>
                    <h3>Results for <%- query %></h3>
                <% } %>
                <% if (prods.length > 0) { %>
                    <div class="row it" id="cont">
                        <% for (let product of prods) { %>
                            <div class="col-md-4">
                                <%- include('../includes/product-card.ejs', {product: product}); %>
                            </div>
                        <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                    <% } %> 
                </div>
            </main>
            <%- include('../includes/end.ejs') %>