<%- include('../includes/head.ejs') %>
	</head>

	<body>
			<%- include('../includes/navigation.ejs') %>
			<main>
					<div class="container"> 
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
              
              <% if (product) { %>
                <% if (error) { %>
                  <div class="alert alert-danger" role="alert"><%= error %></div>
                <% } %>
                <div class="row">
                  <div class="col-lg-6">
                    <img style="max-width: 100%" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                  </div>
                  <div class="col-lg-6">
                    <h2 class="d-flex justify-content-between">
                      <span><%= product.title %></span>
                    </h2>
                    <h4 class="d-flex justify-content-between">
                      <span>price $<%= product.price %></span>
                    </h4>
                    <% if (locals.isAuthenticated) { %>
                          <% if (!locals.isAdmin) { %> <%- include('../includes/add-to-cart.ejs', {product: product}) %> 
                          <% } else { %> <a href="/edit-product/<%= product.id %>?edit=true" class="btn btn-block btn-primary">Edit</a> <% } %>
                    <% } %>


                    <p><%= product.description %></p>
                  </div>
                
                </div>

              <% } else { %>
                <h1>Sorry, product not found</h1>
                <p>Product not exist or has been removed</p>
                <a href="/">Return to the shop</a>
              <% } %>
              </div>
            </div>
					</div>
					
			</main>
			<%- include('../includes/end.ejs') %>